body {
    background-color: rgb(196, 227, 233);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    color: #000;
}

div {
    background-color: #ffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    padding: 50px;
    border-radius: 20px;
    width: 35%;
    margin-left: 400px;
    margin-top: 180px;

}

button {
    background-color: rgb(8, 93, 163);
    color: #f9f9f9;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

